/*****   reset margin & padding   *****/
html, body, figure {
    margin: 0;
    padding: 0;
}
/*****   set default typography & set default spacing for fixed header   *****/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
}
/*****   remove default outline from inputs   *****/
input {
    border: 0;
    outline: none;
}
/*****   remove default button style   *****/
button {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}