.t-title {
    color: var(--primary);
    width: 100%;
}
.t-title::after {
    background-color: var(--primary);
    content: '';
    display: flex;
    height: 5px;
    margin: 5px 0;
    position: absolute;
    width: 25px;
}